.container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  flex-flow: flex-start;
  justify-content:flex-start;
  align-items:flex-start;
  -webkit-flex: 1;
  flex: 1;
}
.flex-container{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content; space-around;

  width: 100%;

}

.flex-button {
  width: 270px;
  height: 300px;
  flex-grow:1;
  overflow: hidden;
  /*testing*/
  border: 1px solid black;
}

.flex-p {
  padding: 1em;
  flex-grow:1;
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 2em;
  color: #104D90;
  overflow: hidden;
}

.slide {
  padding: 1em;
  position: relative;
  bottom: -120px;
  height: 100px;
  width: 100%;
  background-color: #104D90;
  visibility: none;
  opacity: 0;
  transition: 0.5s;
}


.flex-button:hover .slide {
  overflow: hidden;
  color: #fff;
  visibility: visible;
  opacity: 1;
  bottom:-50px;
  transition: 0.5s;
}

.flex-item {
  padding: 1em;
  flex-grow:1;
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 2em;
  color: #fff;

}

section {
	padding: 1rem;
}

@media (max-width: 50em) {

  .flex-container {
    width: 100%;
  }

}