.container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  flex-flow: flex-start;
  justify-content:flex-start;
  align-items:flex-start;
  -webkit-flex: 1;
  flex: 1;
}
.flex-container{

 display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: space-between;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: flex-end;
  align-content: flex-end;
}



.flex-button {
  width: 50%;
  height: 300px;
  flex-grow:1;
  overflow: hidden;
  /*testing*/
/*  border: 1px solid black;
  background-color: orange;*/
}

.flex-p {
  padding: 1em;
  flex-grow:1;
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 2em;
  color: #104D90;
  overflow: hidden;
}

.slide {
  padding: 1em;
  position: relative;
  bottom: -120px;
  height: 100px;
  width: 100%;
  background-color: #104D90;
  visibility: none;
  opacity: 0;
  transition: 0.5s;
}


.flex-button:hover .slide {
  overflow: hidden;
  color: #fff;
  visibility: visible;
  opacity: 1;
  bottom:-50px;
  transition: 0.5s;
}

.flex-item {
  padding: 1em;
  flex-grow:1;
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 2em;
  color: #fff;

}

section {
	padding: 1rem;
}

@media (max-width: 40em) {

  .flex-container {
    width: 100%;
  }
  .flex-button {
  width: 100%;
  } 
}