.container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  flex-flow: flex-start;
  justify-content:flex-start;
  align-items:flex-start;
  -webkit-flex: 1;
  flex: 1;
}
.flex-container{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start; stretch;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  width: 100%;
}



.flex-button {
  width: 50%;
  height: 300px;
  flex-grow:1;
  overflow: hidden;
  /*testing*/
/*  border: 1px solid black;
  background-color: orange;*/
}

.flex-p {
  padding: 1em;
  bottom: -20px;
  height: 150px;
  padding-top: 50px;
  line-height: auto;
  font-weight: normal;
  font-size: 2em;
  color: #104D90;
  overflow: hidden;
}

.slide {
  padding: 1em;
  position: relative;
  bottom: -120px;
  height: 100px;
  width: 100%;
  background-color: #104D90;
  visibility: none;
  transition: 0.5s;
}

.flex-button:hover .slide {
  overflow: hidden;
  color: #fff;
  visibility: visible;
  opacity: 1;
  bottom:-50px;
  transition: 0.5s;
}

.flex-item {
  align-item: stretch;
  width: 42%;
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 2em;
  color: #fff;
  margin: 0 2%;
}

#border-TopBott{
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

section {
	padding: 1rem;
}

@media (max-width: 40em) {

  .flex-container {
    width: 100%;
  }
  .flex-button {
    width: 100%;
  } 
  .flex-item{
    width: 100%;
  }

  .slide {
  padding: 1em;
  position: relative;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #104D90;
  visibility: visible;
  }

  .flex-button:hover .slide {
  visibility: visible;
  overflow: hidden;
  color: #fff;
  bottom: 0px;
  }
 
}