@import url("topbar.css");

*, *::after, *::before {
    box-sizing: border-box;
}

code {
	font-family: 'Source Code Pro';
	font-size: 0.7rem;
}


body {
	font-family: Roboto, Open Sans, Verdana, sans-serif;
	font-size: 1em; 
	margin-top: 4rem;
	color: #222;
	background-color: #FAFAFA;
}

/* Navigation */
nav a {
	text-decoration: none;
}


article {
	text-align: left;
	margin: 0.5rem 0; 
	padding: 1rem; 
	/*border: 1px solid blue;*/
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* For the home header only*/
 .home-hero{
	color: #1c1c1d;
    text-align: center;
    align-item: center;
    padding: 2rem 0rem;
    font-size: 4rem;
}


#hero-banner{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#small-font{
	font-weight: normal;
	font-size: 1rem;
}

/*Hero banner img example*/
.vwah-logo{
	padding: 6px;
	vertical-align: text-bottom;
}

.hero-img {
	display: block;
    margin: 0 auto;
	height: auto; 
	max-height: 600px;
	width: auto;
	max-width: 100%;
}

#project1{
	background-image: url("../imgs/skateboard-thumbnail.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}
#project2{
	background-image: url("../imgs/ScienceWorld_thumbnail.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}
#project3{
	background-image: url("../imgs/Steam_thumbnail.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}
#project4{
	background-image: url("../imgs/Planit-thumbnail.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}


.container-footer{
	width: 100%;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
}

.footer{
	padding: 5rem;
	text-align: center;
	color: #afabab;
}

.footerColor{
	color: #afabab;
}

/* Body Texts and Lists*/
p, ul, ol {
	font-size: 1rem;
	line-height: 1.3em; 
	text-align: left;
	font-weight: normal;
	color: #3A3A3A;
}

ul {
	padding: 0rem 1rem;
	vertical-align: text-top;
	list-style-image: url("../imgs/green_square_bullets-01.png");
}

li{
	padding: 0.15rem 1rem;
	vertical-align: text-top;
}

/* Text Decorations (bold/italic) */
strong {
	font-weight: bold;
	font-size: inherit;
}

em {
	font-weight: normal;
	font-style: italic;
	font-size: inherit;
}

/* Headers */
h1 {
	font-size: 2rem; 
	font-weight: normal;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	letter-spacing: 0.005em;
	color: #2a2a2b;
	text-align: left;
}

h2 {
	font-size: 1.6rem; 
	font-weight: normal;
	letter-spacing: 0.005em;
	margin-top: 0.5rem;
	margin-bottom: 0rem;
	color: #2a2a2b;
	line-height: 1.75rem;
	text-align: left;
}

h3 {
	font-size: 1.2rem;
	font-weight: normal;
	font-style: italic;
	color: #8C8F91;
	margin-top: 2rem;
	margin-bottom: 0.1rem;
	text-align: left;
}

h4 {
	font-size: 1rem;
	font-weight: normal;
	color: #8C8F91;
	text-align: left;
}

/* Standard Links */
a {
	color: #32ad7e;
	font-weight: normal; 
	transition: 0.5s;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color: #006B42;
}

/* Standard Image/Figure Code */
img {
	display: block;
    margin: auto;
	height: auto; 
	width: inherit;
	padding-top: 1em;
	padding-bottom: 1em;
}

#portrait {
	display: block;
    width: auto;
	height: auto;
	max-width: 100%;
}


figure {
	margin: 0;
	width: 100%;
}


figcaption {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.3em;
	text-align: center;
	color: #3A3A3A;
}


div.divider{
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-bottom: solid 1px #8C8F91;
}


/*for the style guides palette boxes*/
div.box {
	width: 150px;
	height: 150px;
	display: inline-block;
}
p.colour-block{
	font-weight: bolder;
	color: #FFFFFF;
	text-align: center;
}

#darkgrey {
	background-color: #2a2a2b;
	color: #2a2a2b;
}

#lightestgreen {
	background-color: #b2e0cf;
	color: #b2e0cf;
}

#lightergreen {
	background-color: #32ad7e;
}

#green{
	background-color: #00995F;
}

#darkgreen{
	background-color: #006B42;
}
#grey{
	background-color: #8C8F91;
}

/*End of style guide boxes*/





/*Buttons - Input forms*/

.button {
	transition: 0.4s;
	border: none;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background: #00995F;
	padding: 10px 28px 10px 28px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.button:hover {
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background: #006B42;
	text-decoration: none;
}
.button:focus {
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background: #006B42;
	text-decoration: none;
}

#active {
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background: #00995F;
	text-decoration: none;
}

button {
	transition: 0.4s;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background: #00995F;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

button:hover {
	background: #006B42;
	text-decoration: none;
}

button:active button:focus {
	background: #006B42;
	text-decoration: none;
}


/* Form Mods */
form {
	max-width: 100%;
}

textarea{
	border: 0;
	outline: none;
	background-color: #F2F2F2;
	padding: 0.75em;
	width: 100%;
	margin: 0.75rem 0rem;
	display: block;
	height: 100px;
	font-family: inherit;
	color: inherit;
	font-size: 1rem;
    line-height: 0.5rem;

}

input{
	transition: 0.25s;
	border: 0;
	border-bottom:solid 2px #acacac;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 20px;
	margin: 0.75rem 0rem;
	display: block;
	color: #700C2A;
	font-size: 1rem;
}

input:focus{
	border: 0;
	border-bottom:solid 2px #117A4C;
	outline: none;
	background-color: transparent;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	font-size: 1rem;
}

::-webkit-input-placeholder {
    color: #acacac;
	font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
   	color: #acacac;
 	font-size: 1rem; 
}

::-moz-placeholder {  /* Firefox 19+ */
   	color: #acacac; 
 	font-size: 1rem;
}

:-ms-input-placeholder {  
   	color: #acacac;
	font-size: 1rem;
}


/*extras*/

.bordertop{
   border-top: 1px solid #c7c7c7;
}

.borderbottom{
   border-bottom: 1px solid #c7c7c7;
}


/*Media Queries*/



@media (min-width: 1250px) {
	.container {
		max-width: 50%;
		margin: auto;
	}

	input, textarea {
		width: 100%;
		margin: 1rem 0rem;
	}

	button{
		padding: 10px 25px 10px 25px;
	}

	h1 {
		font-size: 3rem;
	}
	form{
		max-width: 60%;
	}
	.home-hero{
	color: #1c1c1c;
    text-align: center;
    align-item: center;
	}
	#large-font{
	font-weight: bolder;
    font-size: 10rem;
    line-height: 7rem;
	}

	#small-font{
	font-weight: normal;
	font-size: 1.25rem;
	}

	#hero-banner{
	width: auto;
	height: auto;
	max-width: 60%;
}
}

