<!doctype html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li class="dropdown-menu"><a href="home.html" class="toplink">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
              <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li>
              <li class="dropdown"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink active">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="home.html" class="toplink">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
                <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li>
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink active">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
 
<!-- Page content begins -->

<div class="container">

    <div class="flex-container">
      <article>
        <!-- <article class="flex-item" id="about-me"></article> -->
        <img src="../imgs/img-vwah.png">

        <h3>If I'm not collaborating with others to solve Usability problems, I'm playing video games.</h3>
        <em>I do enjoy being outdoors and attempting to be healthy.</em>
        
        <p>My name is Vincent Wah, born and raised in Vancouver. I am an Interaction Designer hoping to simplify usability of programs, while at the same time, enhancing and providing a more positive user experience. I am currently a third year design student in the program Interactive Arts and Technology (SIAT) at Simon Fraser University. I have grown quite passionate of UI/UX Design.</p>

        <p>I love to design with team-mates because of just how much ideas can be produced in a short amount of time. I absolutely love the feeling of discussing/debating with team-mates and converging to one idea that either shoots to the moon or sparks another discussion. I'm not saying I enjoy debates and team drama, I just like the awesome ideas that are generated when having team discussions.</p>

        <p>Want my resume? <a href="#" target="_blank">Click here to view it in another tab</a>. Or if you'd like to contact me, you can drop me a line below:</p>

        <form class="flex-container">
          <input placeholder="First Name">
          <input placeholder="Last Name">
          <input placeholder="Email">
          <textarea placeholder="Leave a comment!"></textarea>
          <button>Submit</button>
        </form>
      </article>
    </div>
   
  </div> 
</body>  

<!-- Footer begins -->
  <footer class="container-footer">
    <p class=footer>Footer goes here along with details</p>
  </footer>
