<!doctype html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="home.html"><img src="../imgs/vwah-logo.png" class="vwah-logo" alt="vwah-logo"></a></li>
          <li class="dropdown-menu"><a href="home.html" class="toplink">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
              <!-- <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li> -->
              <li class="dropdown"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink active">About</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
             <img src="../imgs/vwah-logo.png" class="vwah-logo" alt="vwah-logo">
              <ul>
                <li class="mobile-li"><a href="home.html" class="toplink">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
              <!--   <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li> -->
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink active">About</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
 
<!-- Page content begins -->

  <div class="container">
      <article class="flex-article">
        <!-- <article class="flex-item" id="about-me"></article> -->
        <img src="../imgs/img-vwah.png" alt="vwah-portrait">

        <h3>If I'm not collaborating with others to solve Usability problems, I'm playing video games.</h3>

        <p>My name is Vincent Wah, born and bred in Vancouver. I am an Interaction Designer hoping to simplify usability of programs, while at the same time, enhancing and providing a more positive user experience. I am about to walk free from the program Interactive Arts and Technology (SIAT) at Simon Fraser University. I have grown quite passionate for UI/UX Design. Especially for games.</p>

        <p>During my time at SIAT, I was able to attain two co-op placements. Two semesters at <a href="http://www.activenetwork.com/" target="_blank">Active Network</a> where I worked as an Email/Website Designer/Developer, and another two at <a href="http://www.visier.com/" target="_blank">Visier</a> as a UX/UI Designer. Got to work with some amazing people, had awesome mentors, and learned a whole lot WHILE having a great time!</p>

        <h3>Want to contact me?</h3>
        <a href="https://www.dropbox.com/s/ldkzlvdwvmzhqv6/New_Resume.pdf" target="_blank">Check out my resume here</a>, or if you'd like to contact me, you can drop me a line at:<strong> vincent.wah@shaw.ca</strong>. Bonus points for including a joke!</p>

        

<!--         <form class="flex-container">
          <input placeholder="First Name">
          <input placeholder="Last Name">
          <input placeholder="Email">
          <textarea placeholder="Leave a comment!"></textarea>
          <button>Submit</button>
        </form> -->
      </article>   
  </div> 
</body>  

<!-- Footer begins -->
  <footer class="container-footer">
     <p class="footer"> 
      <img src="../imgs/vwah-logo.png" class="vwah-logo" alt="vwah-logo"><br>
      Copyright &#169; 2014 - 2015 Vincent Wah<br>
      Quick Links:<br>
      <a href="about.html" class="footerColor">About</a><br>
      <a href="home.html" class="footerColor" >Projects</a><br>
    </p>
  </footer>