<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Page</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  
  <nav>
    <a class="button" href="template-project.html" id="active">Project</a>
    <a class="button" href="template-home.html">Home</a>
    <a class="button" href="template-about.html">About</a>
    <a class="button" href="../style_guides.html">Style Guides</a>
  </nav>
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header">
    <p>Header and project description goes here. Make into carousel?</p>
  </div>

<!-- Page content begins -->
  <div class="container">

    <div class="flex-container">
      <article class="flex-item" id="lightorange">Project description and steps</article>
    </div>
    <button>Contact me!</button>
  </div>  <!-- end container div -->

<!-- Footer begins -->
  <div class="container-footer">
    <p>footer goes here</p>
  </div>
</body>  
