<!doctype html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="template-home.html" class="toplink">Home</a></li>
          <li><a href="template-project.html" class="toplink">Projects</a></li>
          <li><a href="template-about.html" class="toplink active">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="template-home.html" class="toplink">Home</a></li>
                <li class="mobile-li"><a href="template-project.html" class="toplink">Projects</a>
                </li>
                <li class="mobile-li"><a href="template-about.html" class="toplink active">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header" id="hero-test"></div>

<!-- Page content begins -->
  <div class="container">

    <div class="flex-container">
      <article class="flex-item" id="lightorange">Small picture of me</article>
      <article class="flex-item" id="lightblue">Description of me</article>
    </div>
    <form class="flex-container">
      <input placeholder="First Name">
      <input placeholder="Last Name">
      <input placeholder="Email">
      <textarea placeholder="Leave a comment!"></textarea>
      <button>Submit</button>
    </form>
  </div>  <!-- end container div -->

<!-- Footer begins -->
  <div class="container-footer">
    <p>Header goes here</p>
  </div>
</body>  
