<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Page</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="template-home.html" class="toplink">Home</a></li>
          <li><a href="template-project.html" class="toplink active">Project</a></li>
          <li><a href="template-about.html" class="toplink">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="template-home.html" class="toplink">Home</a></li>
                <li class="mobile-li"><a href="template-project.html" class="toplink active">Project</a>
                </li>
                <li class="mobile-li"><a href="template-about.html" class="toplink">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header" id="hero-test">
    <p>Header and project description goes here. Make into carousel?</p>
  </div>

<!-- Page content begins -->
  <div class="container">

    <div class="flex-container">
      <article class="flex-item" id="lightorange">Project description and steps</article>
    </div>
    <button>Contact me!</button>
  </div>  <!-- end container div -->

<!-- Footer begins -->
  <div class="container-footer">
    <p>footer goes here</p>
  </div>
</body>  
