<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Description Page</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="template-home.html" class="toplink">Home</a></li>
          <li><a href="template-project.html" class="toplink active">Projects</a></li>
          <li><a href="template-about.html" class="toplink">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="template-home.html" class="toplink">Home</a></li>
                <li class="mobile-li"><a href="template-project.html" class="toplink active">Projects</a>
                </li>
                <li class="mobile-li"><a href="template-about.html" class="toplink">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header" id="hero-test"></div>

<!-- Page content begins -->
  <div class="container">

    <div class="flex-container">
      <article>
        <h1>Project Title</h1>
        <h3>A student Project</h3>
        <p>Bacon ipsum dolor amet shank chicken kielbasa leberkas kevin. Hamburger ball tip turducken, capicola corned beef short loin swine. Fatback jowl biltong picanha tail pastrami ham hock pork belly chuck. Turducken strip steak meatball landjaeger. Ham hock swine fatback, brisket capicola flank ground round landjaeger shank pig short loin pork loin. Tri-tip pork chop biltong bresaola, cow filet mignon pork loin jerky tail meatloaf turducken chicken swine short loin. Tenderloin prosciutto shoulder beef ribs, ground round andouille spare ribs jowl corned beef flank pastrami.</p>

        <p>Porchetta drumstick leberkas short ribs andouille. Swine jowl t-bone, bresaola pork biltong meatloaf pork belly rump pastrami pork loin turducken boudin. Jowl landjaeger t-bone filet mignon strip steak picanha kevin pork loin meatball shoulder. Venison ham hock pork belly, doner ribeye hamburger short loin.</p>
      </article>
      <Figure>
        <img class="flex-item-img" src="http://www.wallcoo.net/cartoon/windows_7_characters/wallpapers/1920x1200/windows_7_character_wallpaper_img19.jpg"></img>
        <figcaption class="flex-item-img-text">This is fortress turtle. Its fearsome get-up frightens even the most manliest of man.</figcaption>
      </Figure>

      <article>
        <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

        <p>Bacon ipsum dolor amet shank chicken kielbasa leberkas kevin. Hamburger ball tip turducken, capicola corned beef short loin swine. Fatback jowl biltong picanha tail pastrami ham hock pork belly chuck. Turducken strip steak meatball landjaeger. Ham hock swine fatback, brisket capicola flank ground round landjaeger shank pig short loin pork loin. Tri-tip pork chop biltong bresaola, cow filet mignon pork loin jerky tail meatloaf turducken chicken swine short loin. Tenderloin prosciutto shoulder beef ribs, ground round andouille spare ribs jowl corned beef flank pastrami.</p>

        <p>Porchetta drumstick leberkas short ribs andouille. Swine jowl t-bone, bresaola pork biltong meatloaf pork belly rump pastrami pork loin turducken boudin. Jowl landjaeger t-bone filet mignon strip steak picanha kevin pork loin meatball shoulder. Venison ham hock pork belly, doner ribeye hamburger short loin.</p>

        <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

        <button>Contact me!</button>

      </article>
    </div>
   
  </div>  <!-- end container div -->

<!-- Footer begins -->
  <div class="container-footer">
    <p>footer goes here</p>
  </div>
</body>  
