<!doctype html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="template-home.html" class="toplink">Home</a></li>
          <li><a href="template-project.html" class="toplink">Projects</a></li>
          <li><a href="template-about.html" class="toplink active">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="template-home.html" class="toplink">Home</a></li>
                <li class="mobile-li"><a href="template-project.html" class="toplink">Projects</a>
                </li>
                <li class="mobile-li"><a href="template-about.html" class="toplink active">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
 
<!-- Page content begins -->

<div class="container">

    <div class="flex-container">
      <article>
     
        <!-- <article class="flex-item" id="about-me"></article> -->
        <article>
        <img src="../imgs/img-vwah.png">
        </article>
        <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

        <p>Bacon ipsum dolor amet shank chicken kielbasa leberkas kevin. Hamburger ball tip turducken, capicola corned beef short loin swine. Fatback jowl biltong picanha tail pastrami ham hock pork belly chuck. Turducken strip steak meatball landjaeger. Ham hock swine fatback, brisket capicola flank ground round landjaeger shank pig short loin pork loin. Tri-tip pork chop biltong bresaola, cow filet mignon pork loin jerky tail meatloaf turducken chicken swine short loin. Tenderloin prosciutto shoulder beef ribs, ground round andouille spare ribs jowl corned beef flank pastrami.</p>

        <form class="flex-container">
          <input placeholder="First Name">
          <input placeholder="Last Name">
          <input placeholder="Email">
          <textarea placeholder="Leave a comment!"></textarea>
          <button>Submit</button>
        </form>
      </article>
    </div>
   
  </div> 
</body>  

<!-- Footer begins -->
  <footer class="container-footer">
    <p class=footer>Footer goes here along with details</p>
  </footer>
