<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome!</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="template-home.html" class="toplink active">Home</a></li>
          <li><a href="template-project.html" class="toplink">Projects</a></li>
          <li><a href="template-about.html" class="toplink">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="template-home.html" class="toplink active">Home</a></li>
                <li class="mobile-li"><a href="template-project.html" class="toplink">Projects</a>
                </li>
                <li class="mobile-li"><a href="template-about.html" class="toplink">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header"> Hello! My name is Vincent Wah.
    <h3>A User Experience  Designer by trade.</h3></div>

<!-- Page content begins -->
  <div class="container">
    <div class="flex-container">
      <a class="flex-button"  href="template-project-detail.html">
        <p class="flex-p">Project one</p> <div class="slide">UX Design Project</div></a>
      <a class="flex-button"  href="template-project-detail.html">
        <p class="flex-p">Project two</p> <div class="slide">UX Design Project</div></a>
      <a class="flex-button"  href="template-project-detail.html">
        <p class="flex-p">Project three</p> <div class="slide">Some other project</div></a>
      <a class="flex-button"  href="template-project-detail.html">
        <p class="flex-p">Project four</p> <div class="slide">Coming shortly!</div></a>
    </div>
  </div>  <!-- end container div -->

<!-- Footer begins -->
  <div class="container-footer">
    <p>Footer goes here</p>
  </div>
</body>  
