<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interactive Calendar</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="home.html"><img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo"></a></li>
          <li class="dropdown-menu"><a href="home.html" class="toplink active">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
             <!--  <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li> -->
              <li class="dropdown"><a href="ux-calendar.html" class="toplink active">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink">About</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo">
              <ul>
                <li class="mobile-li"><a href="home.html" class="toplink active">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
                <!-- <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li> -->
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink active">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink">About</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
 <Figure>
        <img src="../imgs/Planit-img.jpg" class="hero-img"></img>
      </Figure>
 <div class="container">
    <article>
        <h2>Interface Design - Calendar Application</h2>
        <h4>A Student Project</h4>
    </article>
    
<!-- Project rundown -->
    <article class="flex-container" id="border-TopBott">
      <h3>Synopsis</h3>
      <p>With a team of 5 including myself, we had to come up with a design that can link families together virtually. We looked to how skype functions and wondered, what is it that most families talk about when they connect virtually? We figured that it was the special moments that happened day-by-day that is captured locally, and viewed virtually over the internet. What we have now is an interactive calendar that links families together through special moments that happen daily. Planit.

      <div class="flex-item-third"> 
        <h3>Tools/Methods used:</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Flash Catalyst</li>
          <li>Wireframe sketches</li>
          <li>Heuristic Evaluation</li>

        </ul> 
      </div>      
      <div class="flex-item-twothird">
        <h3>Role</h3>
        <p>My role in this project was facilitating design discussions. Moderating these discussions allowed me to practice framing the problem/question differently. By framing, I was able to find edge-cases or new angles for discussion. I also had a lot of fun generating the ideas and communicating them via sketches on the whiteboard or paper. Listing out the values and intetntions of our potential users ensured that our design fit into their daily lives. </p>
      </div>
      <h3>Learning Outcomes:</h3>
        <p>Feedback is  about the work, never about the person.As this was a project done early on in my academic career, I learnt that being able to accept constructive feedback, is part of the learning process and that I should embrace it if I am to become a successful designer. However, taking feedback is half the job, giving good feedback is the other, and I've been able to provide encouraging yet constructive feedback to my peers.
    </article>

      <article>
        <h2>More details of the project</h2>
        <h3>Our Thought Process</h3>
        <p>Our project goal was to link distant families together by sharing experiences through events and media created by family members. We found that although current technology has allowed us to connect virtually, it has also allowed us to disconnect physically. Let me elaborate on this. We, as users have cellphones or tablets that we keep close to us at all times. The cellphone and tablet, allow us to connect with our friends, families, or co-workers through the means of face-time, texting, calling, and even conference calling with groups. This form of connection is great! It's fantastic! However, we felt that as individuals get virtually connected with others, they get physically disconnected to their immediate family members. Although our idea does not aim to fix that physical barrier, we want to find a way to re-mediate the connection, and what better way to do that than use more technology?</p>

        <p>Of course, there had to be a limit to our vision, and so we decided to focus on trying to help connect distant family members. Before we go on any further, we must define what we mean by distant. We mean distant as any location where one cannot get to (by car) in one day (24 hours). This means that any connection between the two family members would have to be virtual. Because of this limitation, we decided to focus on another core value, sharing an experience. At the time of this project, the prototype for Google Glasses (Video here) was just released and what really struck us was the last bit, sharing a sunset with someone dear, but separated by a huge distance. Capturing and sharing that experience was something we wanted to replicate in our project.</p>

        <div class="video">
        <iframe src="https://player.vimeo.com/video/44122873" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <h3>Role</h3>
        <p>Throughout this project, I constantly moderated and encouraged group discussion and debates. As young designers, I feel it is necessary to expose ourselves to ideas coming from people with different backgrounds, thus the open group debates and discussions. By moderating, I made sure that the argument was about the design, not the people. I found that those who stayed silent for too long meant that they were daydreaming, or that they were thinking of something worth sharing. Most of the time it's the latter one, but I still strive to encourage group-members to share their ideas.</p>

        <p>The programs that I used were Adobe Illustrator, Flash, and Catalyst. As this course was an introduction to Interface Design, using Illustrator to create the aesthetics and Flash/Catalyst to create a click-prototype. I was able to continue honing my skills in Illustrator, and to establish the fundamental basics and process of creating a click prototype.

        <p>The idea and implementation of planets orbiting was concieved by me, but only because of the success of our group discussions. Although the initial idea was rough and vague, it created discussions within the group that eventually lead to the final iteration that went into our prototype. Credit goes to everyone in the group for expanding and refining the idea into a visual representation of who we are connected to in our lives. Below were some of the rough sketches that I made for our group during our ideation and development phase.</p>
      
        <h3>Learning Outcomes</h3>
        <p>This project taught me a few lessons that I would take to heart. The first thing I learned was that the functionality of an interface should take precedent over the aesthetics. Let me elaborate on this. I'm not saying that the aesthetics are not important when designing an interface, but the functionality of the interface - particularly how the user navigates through the interface - should be considered over aesthetic appeal. Let me provide you with an example.

        <p>A member in our group strongly believed that the aesthetics of the interface should not change, even after several user-tests revealed that certain aspects of the aesthetic interfered with the user experience. Of course, doing a complete make-over would be too drastic, but after much debate, little of the designs were changed and thus comments on the functionality and usability of our interface were made when we show-cased it to the class. That being said, the aesthetics were consistent and original, which drew praised from the Instructor and Teacher Assistants.</p>

        <p>The finald thing I learned from this project was the ability to handle and cool heated discussions. At one point in our project, some team-members took some feedback/critiques a little too personally. Although it was a slight hiccup, I was able to resolve the situation and get the team back on track. This not only exposed me to the different personality in each of us, but allowed me to think quickly on the spot, judge the current situation, and resolve it with timely and tactful actions, while also redirecting the focus back towards the original discussion.</p>

      </article>
    </div>
   
  </div>  <!-- end container div -->

</body>  

<!-- Footer begins -->
  <footer class="container-footer">
     <p class="footer"> 
      <img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo">
      Copyright &#169 2014 - 2015 Vincent Wah <br>
      Quick Links:<br>
      <a href="about.html" >About</a><br>
      <a href="home.html" >Projects</a><br>
      <a href="../style_guides.html" >Style Guide</a>
    </p>
  </footer>



