<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Steam Redesign</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li class="dropdown-menu"><a href="home.html" class="toplink active">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
              <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink active">Steam Redesign</a></li>
              <li class="dropdown"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
                <li class="mobile-li"><a href="home.html" class="toplink active">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink">Skateboard Website</a></li>
                <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink active">Steam Redesign</a></li>
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header" id="hero-test"></div>

<!-- Page title -->
  <div class="container">
    <article>
        <h2>Interface Redesign - Steam Application</h2>
        <h3>A Student Project</h3>
    </article>

<!-- Project rundown -->
    <article class="flex-container" id="border-TopBott">
      <div class="flex-item"> 
        <h3>Tools + Skills practiced</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
          <li>User-center Design</li>
          <li>Heuristic Evaluation</li>
          <li>User Interviews and Research</li>

        </ul> 
      </div>      
      <div class="flex-item">
        <h3>What I learned</h3>
        <p>The company we looked into is a small, local Vancouver company that creates 100% Canadian Maple Decks for skateboarders. They currently sell their boards in bulk to other local skateboard brands such as Sitka while providing a low maintenance website for odd jobs here and there.</p>
      </div>
    </article>

<!-- Project process and details -->
    <article>
      <h2>The Details</h2>
      <h3>What is this about?</h3>
      <p>In this project, I worked with user-center design methods along with proper heuristic evaluation of a current platform. Using Adobe Illustrator and proper testing methods [ Interviews, usability testing] we were able to come up with a design that was better than the original [according to results, mind you, we used only 6 participants for each version we produced].</p>

      <p>Below are some scanned images of my quick sketches of potential layouts of how the re-designed Steam could look. This project, the group really wanted to ease and streamline the ability to make comments, and to get notified when someone else commented.</p>

      <h3>Why do this?</h3>
      <p>Because we wanted to focus on streamlining the ability to comment and keep track of commented pages, I drew the comments tab and group activities tab along with friends[and your own] game recommendations. The right side, used to be a list of links. I incorporated larger icons to ensure users gave attention to this side of the screen. Everything below is similar to the original steam profile page [Before its revamp].</p>

      <p>Wait a minute, they don't JUST wait. They also get to access a new section that we felt was lacking in any Skateboarding website. A section where local skateboarders or Icons can gather and reinforce their already cohesive community.</p>
    
    <Figure>
      <img src="http://www.wallcoo.net/cartoon/windows_7_characters/wallpapers/1920x1200/windows_7_character_wallpaper_img19.jpg"></img>
      <figcaption class="flex-item-img-text">This is fortress turtle. Its fearsome get-up frightens even the most manliest of men.</figcaption>
    </Figure>
      <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

      <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

    </article>
   
  </div>  <!-- end container div -->

</body>  

<!-- Footer begins -->
  <footer class="container-footer">
     <p class="footer"> 
      <img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo">
      Copyright &#169 2014 - 2015 Vincent Wah <br>
      Quick Links:<br>
      <a href="about.html" >About</a><br>
      <a href="home.html" >Projects</a><br>
      <a href="../style_guides.html" >Style Guide</a>
    </p>
  </footer>



