<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skateboarding Website</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="home.html"><img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo"></a></li>
          <li class="dropdown-menu"><a href="home.html" class="toplink active">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink active">Skateboard Website</a></li>
              <!-- <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li> -->
              <li class="dropdown"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink">About</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
             <img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo">
              <ul>
               <li class="mobile-li"><a href="home.html" class="toplink active">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink active">Skateboard Website</a></li>
                <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li>
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink">About</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
     <Figure>
        <img src="../imgs/skateboard-screen.jpg" class="hero-img"></img>
      </Figure>


<!-- Page title -->
  <div class="container">
    <article>
        <h2>Experience Design - Local Skateboarding Company</h2>
        <h4>A Student Project</h4>
    </article>
    
<!-- Project rundown -->
    <article class="flex-container" id="border-TopBott">
      <h3>Synopsis:</h3>
      <p>With a team of 5 including myself, we were given the challenge of improving a company's virtual service and pruchasing experience. We picked a local skateboarding company with the intention of working with them and to learn something new about a sport we never got into.</p>
      <p>This local shop uses 100% Canadian Maple to create custom skateboards for the local boarders. At the time of our research, the majority of sales went to other local skateboarding shops. However, it was apparent that local skateboards also wanted to get their hands on such quality boards, and learn about the process of making these at the same time. Our goal was to create a portal for these individuals who want to purchase and learn how a board is made.</p>

      <div class="flex-item-third"> 
        <h3>Tools/Methods used:</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
          <li>Axure 7.0</li>
          <li>User Research</li>
          <li>Service Design</li>
        </ul> 
      </div>      
      <div class="flex-item-twothird">
        <h3>Role</h3>
        <p>This project had me working both as quality control and developer. I was responsible for creating the <a href="http://www.sfu.ca/~vwah/HTML%20FILES/folk.html" target="_blank">Axure prototype</a> as well as ensuring that all the componets [graphics, copy, wireframes] blended well together. Prior to the creation of the prototype, I was also responsible for creating wireframe sketches and conducting research interviews with various skateboarders.</p>
      </div>
      <h3>Learning Outcomes:</h3>
        <p>This was a valuable project that we did. Unfortunately, the company that we were hoping to work with did not see the potential of this project, we were left with making a few assumptions here and there about their buisness models and overall service and purchasing experience. Nonetheless, we continued with our user research and found valuable information that we could used to our advantage. The importance of user research and protoyping was further reinforced in this project.</p>
      <p><a href="http://www.sfu.ca/~vwah/HTML%20FILES/folk.html" target="_blank">Click to view the prototype.</a></p>
    </article>

      <article>
        <h2>More details of the project</h2>
        <h3>What is this about?</h3>
        <p>The company we looked into is a small, local Vancouver company that creates 100% Canadian Maple Decks for skateboarders. They currently sell their boards in bulk to other local skateboard brands such as Sitka while providing a low maintenance website for odd jobs here and there.</p>

        <h3>Goal of the Game</h3>
        <p>Well, it's not really a game, but I had fun studying skateboarders and their culture. We know that a single person runs the company, so we decided to provide him a service that would enhance his current working habits. It's really a website revamp, but made with Axure 7.0.</p>

        <h3>Why do this?</h3>
        <p>It's really simple, right now on their current site, there are many choices in creating your skateboard deck. This causes the consumer to spend unnecessary time doubting their choice and flipping through the catalog. So we basically stripped all the choice, and provided the illusion of choice while streamlining the customizing and purchasing experience. Quick and simple. Come get your custom deck, pay, and wait.</p>

        <p>Wait a minute, they don't JUST wait. They also get to access a new section that we felt was lacking in any Skateboarding website. A section where local skateboarders or Icons can gather and reinforce their already cohesive community.</p>

        <p>Icons include videographer, photographer, artists, graphic designers, anyone that is seen by the skateboarding community as a valuable asset. They are here to share their ideas, thoughts, tips and tricks. A mentor-ship program in a sense. </p>

      </article>
    </div>
   
  </div>  <!-- end container div -->

</body>  

<!-- Footer begins -->
  <footer class="container-footer">
     <p class="footer"> 
      <img src="../imgs/vwah-logo.png" href="home.html" class="vwah-logo">
      Copyright &#169 2014 - 2015 Vincent Wah <br>
      Quick Links:<br>
      <a href="about.html" >About</a><br>
      <a href="home.html" >Projects</a><br>
      <a href="../style_guides.html" >Style Guide</a>
    </p>
  </footer>



