<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skateboarding Website</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/flex.css">
  <link rel="stylesheet" href="../css/topbar.css">

  <!-- Source Code Pro -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <div class="topbar">
    <div class="container">
      <nav>
        <ul>
          <li class="dropdown-menu"><a href="home.html" class="toplink active">Projects</a>
            <ul>
              <li class="dropdown"><a href="ux-skateboard.html" class="toplink active">Skateboard Website</a></li>
              <li class="dropdown" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
              <li class="dropdown"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li>
              <li class="dropdown"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
            </ul>
          </li>
          <li><a href="about.html" class="toplink">About</a></li>
          <li><a href="../style_guides.html" class="toplink">Style Guide</a></li>
        </ul>
      </nav>
    </div> <!-- end of .container -->

    <div class="container mobile">
      <nav>
        <ul>
          <li class="mobile-menu">
            <a href="#">Menu</a>
              <ul>
               <li class="mobile-li"><a href="#" class="toplink active">Projects</a>
                <li class="dropdown-li"><a href="ux-skateboard.html" class="toplink active">Skateboard Website</a></li>
                <li class="dropdown-li" ><a href="ur-dragonboat.html" class="toplink">Dragonboat Application</a></li>
                <li class="dropdown-li"><a href="ux-steam.html" class="toplink">Steam Redesign</a></li>
                <li class="dropdown-li"><a href="ux-calendar.html" class="toplink">Interactive Calendar</a></li>
                </li>
                <li class="mobile-li"><a href="about.html" class="toplink">About</a></li>
                <li class="mobile-li"><a href="../style_guides.html" class="toplink">Style Guide</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- end of .container.mobile -->
  </div> <!-- end of .topbar -->
</head>

<!-- Begin body -->
<body>
<!-- Hero Banner begins -->
  <div class="container-header" id="hero-test"></div>

<!-- Page title -->
  <div class="container">
    <article>
        <h2>Experience Design - Dragonboat Team</h2>
        <h3>A Student Project</h3>
    </article>
    
<!-- Project rundown -->
    <article class="flex-container" id="border-TopBott">
      <div class="flex-item"> 
        <h3>Tools/Programs used:</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
          <li>Axure 7.0</li>
          <li>User Research</li>
          <li>Service Design</li>
        </ul> 
      </div>      
      <div class="flex-item">
        <h3>What I learned</h3>
        <p>Some more text of some sort!</p>
      </div>
    </article>

      <article>
        <h3>What is this about?</h3>
        <p>The company we looked into is a small, local Vancouver company that creates 100% Canadian Maple Decks for skateboarders. They currently sell their boards in bulk to other local skateboard brands such as Sitka while providing a low maintenance website for odd jobs here and there.</p>

        <h3>Goal of the Game</h3>
        <p>Well, it's not really a game, but I had fun studying skateboarders and their culture. We know that a single person runs the company, so we decided to provide him a service that would enhance his current working habits. It's really a website revamp, but made with Axure 7.0.</p>

        <h3>Why do this?</h3>
        <p>It's really simple, right now on their current site, there are many choices in creating your skateboard deck. This causes the consumer to spend unnecessary time doubting their choice and flipping through the catalog. So we basically stripped all the choice, and provided the illusion of choice while streamlining the customizing and purchasing experience. Quick and simple. Come get your custom deck, pay, and wait.</p>

        <p>Wait a minute, they don't JUST wait. They also get to access a new section that we felt was lacking in any Skateboarding website. A section where local skateboarders or Icons can gather and reinforce their already cohesive community.</p>
      
      <Figure>
        <img src="http://www.wallcoo.net/cartoon/windows_7_characters/wallpapers/1920x1200/windows_7_character_wallpaper_img19.jpg"></img>
        <figcaption class="flex-item-img-text">This is fortress turtle. Its fearsome get-up frightens even the most manliest of men.</figcaption>
      </Figure>
        <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

        <p>Flank prosciutto ribeye doner pastrami, ham chuck jowl kielbasa t-bone tenderloin shank beef ribs. Hamburger turkey chicken chuck, short loin pastrami meatloaf ball tip drumstick spare ribs. Meatball shoulder chuck tri-tip andouille, cupim prosciutto tenderloin boudin pastrami. Biltong alcatra pancetta porchetta ground round cow. Alcatra bresaola pig beef tenderloin.</p>

      </article>
    </div>
   
  </div>  <!-- end container div -->

</body>  

<!-- Footer begins -->
  <footer class="container-footer">
    <p class=footer>Footer goes here along with details</p>
  </footer>



